.paper {
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
  }
  .root {
    '& .MuiTextField-root': {
      margin: theme.spacing(1),
    },
  }
  .submit {
    margin: theme.spacing(3, 0, 2);
  }
  .googleButton {
    margin-bottom: theme.spacing(2);
  }