.paper {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}
/* .root {
    '& .MuiTextField-root': {
      margin: theme.spacing(1),
    },
  }
  .googleButton {
    margin-bottom: theme.spacing(2);
  } */
