.heading {
  color: "rgba(0,183,255, 1)";
  text-decoration: "none";
}
.profile {
  display: "flex";
  justify-content: "space-between";
  width: "400px";
}
.userName {
  display: "flex";
  align-items: "center";
}
/* .purple {
  color: theme.palette.getContrastText(deepPurple[500]);
  background-color: deepPurple[500];
} */
