[submodule "4-Memories-App-fullstack-MERN/4-Memories-App-fullstack-MERN/client"]
	path = 4-Memories-App-fullstack-MERN/4-Memories-App-fullstack-MERN/client
	url = https://github.com/katarzyna-stepczynska/Programming-practise.git
