.card {
  display: flex;
  /* [theme.breakpoints.down('sm')]: {
      flexWrap: 'wrap',
      flexDirection: 'column',
    }, */
}
.section {
  flex: 1;
  padding: 2rem;
}
.imageSection {
  padding: 2rem;
  /* [theme.breakpoints.down('sm')]: {
      marginLeft: 0,
    }, */
}
.media {
  border-radius: 20px;
  object-fit: cover;
  max-height: 500px;
}
.recommendedPosts {
  display: flex;
  /* [theme.breakpoints.down('sm')]: {
      flexDirection: 'column',
    }, */
}
.loadingPaper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39vh;
}
