.paper {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.6);
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.title {
  font-family: "Mulish", sans-serif;
}
.fileInput {
  width: 97%;
  margin: 10px 0;
}
.btnSubmit {
  background-color: #2e47ad;
}
.btnClear {
  background-color: #bdc6e3;
}
