.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fileInput {
  width: 97%;
  margin: 10px 0;
}
.btnSubmit {
  background-color: #2e47ad;
}
.btnClear {
  background-color: #bdc6e3;
}
